


section{
    width: 1300px;
    margin: auto;
}



.tituloss1{
    color: #D94848;
    text-align: center;
    margin-top: 35px;
    font-size: 35px;
}




.numerosonee{
    display: flex;
    flex-direction: row;
    border: 1px solid #707070;
    margin-top: 30px;
    border-bottom: none;
}



.numerosonee div{
    width: 100px;
    height: 100px;
    background-color: #310F40;
    margin: 22px;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}



.segundosnumeros{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #707070;
    border-top: none;
}



.segundosnumeros div{
    width: 100px;
    height: 100px;
    background-color: #310F40;
    margin: 22px;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}





.tercerosnumeros{
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    margin-top: 25px;
    border-right: none;
}




.tercerosnumeros div{
    width: 610px;
    height: 100px;
    background-color: #9AD2D9;
    margin: 10px ;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}




.numeerocuatro{
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid #707070;
    margin-top: 25px;
    border-left: none;
}






.numeerocuatro div{
    width: 610px;
    height: 100px;
    background-color: #D9644A;
    margin: 10px;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.separar{
    display: flex;
    flex-direction: center;
}